<nav class="navbar-wrapper">
    <div class="hamburger mobile">
        <input id="menu-button" type="checkbox" />
        <label class="menu-container" for="menu-button">
            <span class="top"></span>
            <span class="middle"></span>
            <span class="bottom"></span>
        </label>
        <div class="menu hidden-ham">
           <%- include('./sidebarMobile') %>
        </div>
    </div>
    <a id="logo" class="pc logo" href="/"><img class="logo" src="/assets/logo.svg" alt="logo"/></a>
    <%- include('./searchBar') %>
    <div class="nav-buttons">
        <button id="newsletter-btn" class="newsletter-btn pc pc-button" type="button">Newsletter</button>
        <%- include('./newsletter') %>
        <div class="login-info">
            <div class="pc">
            <%- include('./logoutButton') %>
            </div>
            <div class="mobile">
            <%- include('./logoutButtonMobile') %>
            </div>
        </div>
    </div>
    
</nav>