<div class="posts-wrapper">
    <div class="post">
        <h5 class="post-title"><%= post.title %></h5>
        <% if(locals.urlPath == '/preview'){ %>
            <img id='img-preview' src='<%= post.image %>' alt="Uploaded Image preview">
            <script>
                if(localStorage.getItem('img_data')){
                    const img = document.getElementById('img-preview');
                    img.src = localStorage.getItem('img_data')
                }
            </script>
        <% } else { %>
            <% if(post.image) { %>
            <img id='img-preview' src='<%= post.image %>' alt="Post image">
            <% } %>
        <% } %>
        <p class="post-body"><%= post.body %></p>
        <div class="post-author">
            <p><% if(post.author){ %>Autor: <%= post.author.nick %> <%= post.createdAtString %><%}%></p>
            <p><% if(post.edited_by){ %>Edytowane przez: <%= post.edited_by.nick %> <%= post.updatedAtString %><%}%></p> 
        </div>
                   <!-- MIEJSCE NA TAGI --> 
        <div class="post-likes"></div>
        <div class="post-comments"><span>Like</span></div>
    </div>
</div>