<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
		<link rel="stylesheet" href="/css/home.css" />
		<link rel="stylesheet" href="/css/postComponent.css" />
		<script src="/js/searchBar.js" defer></script>
		<script src="/js/sidebars.js" defer></script>
		<script src="/js/newsletterModal.js" defer></script>
		<script src="/js/toast.js" defer></script>
		<script src="/js/postLikes.js" defer></script>
		<script type="text/javascript" src="/js/ejs.min.js" defer></script>
		<script src="https://kit.fontawesome.com/c780166e7c.js" crossorigin="anonymous"></script>
		<script src="/js/homepage.js" defer></script>
	</head>
	<body>
		<%- include('./partials/navbar') %>
		<main>
			<%- include('./partials/sidebar') %>
			<div class="posts-wrapper">
				<% for(const post of posts) { %>
				<%- include('./partials/postComponent', {post: post}) %>
				<% } %>
			</div>
			<%- include('./partials/hotPostsWrapper') %>
		</main>
		<%- include('./partials/toast', {msg: messages.error || messages.message || msg}) %>
	</body>
	<script defer>
		localStorage.setItem('_id', '<%=locals?.user?._id %>')
		localStorage.setItem('nick', '<%=locals?.user?.nick %>')
	</script>
</html>
