<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
		<script src="/js/postFormCompressValidate.js" defer></script>
		<script src="/js/postFormTags.js" defer></script>
		<script src="/js/searchBar.js" defer></script>
		<script src="/js/newsletterModal.js" defer></script>
		<script src="/js/toast.js" defer></script>
		<script src="https://kit.fontawesome.com/c780166e7c.js" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="/css/home.css"></link>
		<link rel="stylesheet" href="/css/postForm.css"></link>
	</head>
	<body>
		<script>
			window.EJSpost = <%- JSON.stringify(post) %>
		</script>
		<%- include('./partials/navbar') %>
		<main>
		<div class="post-form-wrapper">
		<% if (urlPath.includes('/edit')) { %>
			<h2 class="page-heading">Edytuj Post</h2>
			<%- include('./partials/postFormEdit') %>
		<% } else { %>
			<h2 class="page-heading">Stwórz Nowy Post</h2>
			<%- include('./partials/postFormNew') %>
		<% } %> 
		</div>
		<%- include('./partials/hotPostsWrapper') %>
		</main>
		<%- include('./partials/toast', {msg: messages.error || messages.message || msg}) %>
		<script defer>
			document.getElementById('logo').style.marginBottom = '5px';
			previewBtn.addEventListener('click', ev => {
				localStorage.setItem('title', title.value)
				localStorage.setItem('body', body.value)
			})
		</script>
	</body>
</html>
