<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= post.title %> </title>
    <meta name="description" content="Post <%= post.title %>, ilosc Lajkow: <%= post.likes || 0 %>, Skrócona informacja o wydarzeniu w esporcie">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/post.css" />
    <link rel="stylesheet" href="/css/hotPostsMediaQueries.css" />
    <script src="/js/toast.js" defer></script>
	<script src="/js/searchBar.js" defer></script>
	<script src="/js/postLikes.js" defer></script>
	<script src="/js/newsletterModal.js" defer></script>
	<script src="https://kit.fontawesome.com/c780166e7c.js" crossorigin="anonymous"></script>
</head>
<body>
    <%- include('./partials/navbar') %>
    <!--  TODO MIEJSCE NA UI HANDLE EJS-->
    <main class="main">
        <%- include('./partials/sidebar') %>
        <div class="post-wrapper">
            <%- include('./partials/postButtons') %>
            <%- include('./partials/postComponent') %>
        </div>
        <%- include('./partials/hotPostsWrapper') %>
    </main>
    <%- include('./partials/toast', {msg: messages.error || messages.message || msg}) %>
    <%- include('./partials/footer') %>
</body>
</html>