<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
		<link rel="stylesheet" href="/css/postForm.css" />
		<script src="/js/postFormCompressValidate.js" defer></script>
		<script src="/js/searchBar.js" defer></script>
		<script src="/js/postFormTags.js" defer></script>
		<script src="/js/newsletterModal.js" defer></script>
		<script src="/js/toast.js" defer></script>
		<script src="https://kit.fontawesome.com/c780166e7c.js" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="/css/home.css"></link>
		<link rel="stylesheet" href="/css/postForm.css"></link>
	</head>
	<body>
		<script>
			window.EJSpost = <%- JSON.stringify(post) %>
		</script>
		<%- include('./partials/navbar') %>
		<main>
		
		<% if (urlPath.includes('/edit')) { %>
			<h2 class="page-heading">Edytuj Post</h2>
			<%- include('./partials/postFormEdit') %>
		<% } else { %>
			<h2 class="page-heading">Stwórz Nowy Post</h2>
			<%- include('./partials/postFormNew') %>
		<% } %> 
		</main>
		<%- include('./partials/toast', {msg: messages.error || messages.message || msg}) %>
	</body>
</html>
