<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
		<link rel="stylesheet" href="/css/home.css" />
		<link rel="stylesheet" href="/css/post.css" />
		<link rel="stylesheet" href="/css/hotPostsMediaQueries.css" />
		<script src="/js/toast.js" defer></script>
		<script src="/js/preview.js" defer></script>
		<script src="/js/searchBar.js" defer></script>
		<script src="/js/sidebars.js" defer></script>
		<script src="/js/newsletterModal.js" defer></script>
		<script src="https://kit.fontawesome.com/c780166e7c.js" crossorigin="anonymous"></script>
	</head>
		<body>
			<%- include('./partials/navbar') %>
			<!--  TODO MIEJSCE NA UI HANDLE EJS-->
			<main class="main">
				<%- include('./partials/sidebar') %>
				<div style="max-width: 1150px;" class="preview">
					<h2 class="page-heading">Podgląd</h2>
					<form id="formPreview" class="buttons" style="display: flex; flex-direction: row; justify-content: flex-end; gap: 1rem;" action="/new" method="POST">
						<button type="button" onclick="history.back(); sendBtn.removeAttribute('disabled');
						previewBtn.removeAttribute('disabled');">Cofnij</button>
						<input type="hidden" id="img_data" name="img_data" />
						<script>
							// FOR storingImage on the server with storeImage
							document.getElementById('img_data').value =
								localStorage.getItem('img_data')
						</script>
						<% if (referer.includes('/edit')) { %>
						<button
							id="editBtnPreview"
							type="submit"
							formaction="/<%= post_id %>/edit?_method=PATCH"
						>
							Edytuj Post
						</button>
						<% } else { %>
						<button id="sendBtnPreview" type="submit">Dodaj Post</button>
						<% } %>
					</form>
					<%- include('./partials/postComponent') %>
				</div>
				<%- include('./partials/hotPostsWrapper') %>
			</main>
			<%- include('./partials/toast', {msg: messages.error || messages.message || msg}) %>
			<%- include('./partials/footer') %>
			<script>
				document.querySelector('.post-likes__count').style.display = 'none'
				document.getElementById('post-likes').style.display = 'none'
				const img = document.getElementById('img-preview')
				if (img.src == null || img.src == location.href){
					img.setAttribute('src', "/assets/nophoto.png")
				}
			</script>
	</body>
</html>
